@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Roboto);

$main-text-size: 80px;
$medium-text-size: 60px;
$small-text-size: 40px;
$tiny-text-size: 20px;

$background-color: #3f51b5;
$main-text-color: #000;
html,body{
  background: $background-color url('img/topbg.png');
  font-family: 'Roboto', sans-serif;
}

#intro{
  padding: 10%;
  min-width: 100%
}

.80-width{
  max-width: 70%;
}

.container{
  max-width: 800px;
}

#bottom-menu{
  font-size: 80px;
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
}

.center-div{
  margin: auto;
}

.center{
  text-align: center;
}

#text1{
  font-size: $main-text-size;
  color: white;
}
#text2{
  font-size: $main-text-size;
  font-weight: 300;
  color: $main-text-color;
}
#text3{
  font-size: $small-text-size;
  color: white;
}

.menu-icon {
    font-size: 80px;
}

@media screen and (max-width: 800px) {
    .menu-icon {
        font-size: 40px;
    }
    #text1{
      font-size: 70px;}
    #text2{
      font-size: 70px;}
    #text3{
      font-size: 30px;
    }

}
