<h2>Privacy Policy</h2>
<div class="">
  <h3>User Email</h3>
  When you log in with face on this app, we will have your email address, but your email will not be abused
</div>
<div class="">
  <h3>Facebook sharing</h3><br>
  When you agree to share our app, we will post it on your facebook wall, and we will not post any additional thing not permitted by you.
</div>



{{outlet}}
