<div id="intro" class="container">
  <div id="text1">Hi There</div>
  <div id="text2">My name is Amanze Ogbonna</div>
  <div id="text3">I’m a Mobile + Web developer, designer and youtuber</div>
  {{outlet}}
</div>
<div id="bottom-menu">
  <div class="80-width row center-div">
    <div class="col-sm-3 center">
      <i class="fa fa-users" title="About"></i>
    </div>
    <div class="col-sm-3 center">
      <i class="fa fa-android" title="Android"></i>
    </div>
    <div class="col-sm-3 center">
      <i class="fa fa-youtube" title="Youtube"></i>
    </div>
    <div class="col-sm-3 center">
      <i class="fa fa-edge" title="Web"></i>
    </div>
  </div>
</div>
