{{outlet}}
<div id="bottom-menu">
  <div class="80-width row center-div">
    <div class="col-xs-3 center">
      <a href="/">
        <i class="fa fa-users menu-icon" title="About"></i>
      </a>
    </div>
    <div class="col-xs-3 center">
      <a href="/android">
        <i class="fa fa-android menu-icon" title="Android"></i>
      </a>
    </div>
    <div class="col-xs-3 center">
      <a href="https://www.youtube.com/channel/UCa475eqLbfWj2wRbdhQU6fA/videos">
        <i class="fa fa-youtube menu-icon" title="Youtube"></i>
      </a>
    </div>
    <div class="col-xs-3 center">
      <a href="http://www.ghalani.com">
        <i class="fa fa-edge menu-icon" title="Web"></i>
      </a>
    </div>
  </div>
</div>
