<div id="intro" class="container center-div">
  <div id="text1">Hi There</div>
  <div id="text2">My name is Amanze Ogbonna</div>
  <div id="text3">I’m a Mobile + Web developer, designer and youtuber</div>
</div>
{{outlet}}
